/*reset*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video, svg, g, circle, button {
	margin: 0;
	padding: 0;
	border: 0;
	font: inherit;
}

/*styling*/

body {
  font-family: 'Barlow Condensed', sans-serif;
}

tspan {
	font-size: 20px;
}

h1 {
  text-align: left;
  font-size: 40px;
}

h3 {
  margin-top: 10px;
  text-align: center;
  font-size: 18px;
}

strong {
	margin-top: 10px;
	display: block;
	text-align: center;
}

button {
  padding: 5px 8px 5px 8px;
  border-radius: 5px;
  font-size: 16px;
  cursor: pointer;
	border: 1px solid #d3d3d3;
}

a {
	color: white;
}

.note-text {
	text-align: left;
}

.help-tip {
    position: absolute;
		z-index: 1;
		/* text-align: center; */
		display: flex;
		justify-content: center;
		align-items: center;
    background-color: #1c6e8c;
    border-radius: 50%;
    width: 20px;
    height: 20px;
    font-size: 15px;
    line-height: 26px;
    cursor: default;
}

.subjects-tip {
	right: -73px;
	top: -28px;
}

.header-tip {
	right: 250px;
	top: 18px;
}

.school-types-tip {
	right: -60px;
	top: -47px;
}

.question-mark {
	font-size: 15px;
	-webkit-touch-callout: none;
	-webkit-user-select: none; /* Webkit */
	-moz-user-select: none;    /* Firefox */
	-ms-user-select: none;     /* IE 10  */
}

.help-tip:before{
    content:'?';
    font-weight: bold;
    color:#fff;
}

.help-tip:hover p{
    display:block;
    /* transform-origin: 50% 50% 0; */

    -webkit-animation: fadeIn 0.3s ease-in-out;
    animation: fadeIn 0.3s ease-in-out;
}

.help-tip p{    /* The tooltip */
    display: none;
    text-align: left;
    background-color: #1E2021;
    padding: 20px;
    width: 300px;
    position: absolute;
    border-radius: 3px;
    box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.2);
    color: #FFF;
    font-size: 15px;
    line-height: 1.4;
}

.help-tip-text {    /* The tooltip */
    /* display: none; */
    text-align: left;
    background-color: #1E2021;
    padding: 20px;
    width: 300px;
    position: absolute;
    border-radius: 3px;
    box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.2);
    color: #FFF;
    font-size: 15px;
    line-height: 1.4;
}

.subjects-tip p{
	top: 30px;
	left: -2px;
}

.school-types-tip p{
	bottom: 30px;
	left: -2px;
}

.header-tip p{
	top: 30px;
	left: -2px;
}

.subjects-tip p:after{ /* The pointer of the tooltip */
    position: absolute;
    content: '';
    width:0;
    height: 0;
    border:6px solid transparent;
    border-bottom-color:#1E2021;
    left:7px;
    top:-12px;
}

.header-tip p:after{ /* The pointer of the tooltip */
    position: absolute;
    content: '';
    width:0;
    height: 0;
    border:6px solid transparent;
    border-bottom-color:#1E2021;
    left:7px;
    top:-12px;
}

.school-types-tip p:before{ /* The pointer of the tooltip */
    position: absolute;
    content: '';
    width:0;
    height: 0;
    border:6px solid transparent;
    border-top-color:#1E2021;
    left:7px;
    bottom:-12px;
}

.help-tip p:after{ /* Prevents the tooltip from being hidden */
    /* width:100%;
    height:40px;
    content:'';
    position: absolute;
    top:-40px;
    left:0; */
}

/* CSS animation */

@-webkit-keyframes fadeIn {
    0% {
        opacity:0;
        transform: scale(0.6);
    }

    100% {
        opacity:100%;
        transform: scale(1);
    }
}

@keyframes fadeIn {
    0% { opacity:0; }
    100% { opacity:100%; }
}

.svg-container{
  position: relative;
  margin-top: 10px;
}

.axis {
  font-size: 20px;
}

.label {
  fill: black;
  font-size: 24px;
}

.selected-btn {
  background: #e0e0e0;
  outline: none;
  -webkit-box-shadow: inset 0px 0px 4px #ccc;
  -moz-box-shadow: inset 0px 0px 4px #ccc;
  box-shadow: inset 0px 0px 4px #ccc;
}

.subject-btns {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  position: absolute;
  top: 340px;
  margin-left: 40px;
  z-index: 1;
}

.subject-btn {
  margin-bottom: 10px;
}

.school-type-btns-container {
	/* justify-content: center;
	display: flex; */
	/* margin-left: 500px; */
	margin-bottom: 20px;
}

.school-type-btns {
	left: 550px;
	position: absolute;
}

.school-type-btn {
  margin-left: 10px;
}

.header-regions-container {
	display: flex;
	justify-content: space-between;
	margin-top: 20px;
}

.main-header {
	/* position: absolute; */
	margin-left: 50px;
	/* margin-bottom: -50px; */
	display: inline-flex;
	flex-direction: column;
}

.main-header h3 {
	text-align: left;
}

.sub-header {
	position: relative;
}

.regions-checkboxes {
  /* position: absolute; */
  display: inline-flex;
  /* flex-direction: column; */
  /* right: 150px; */
  /* top: 80px; */
  font-size: 20px;
  z-index: 1;
	margin-right: 150px;
	padding-top: 55px;
}

.regions-checkboxes fieldset {
	margin-right: 24px;
}

.my-checkbox {
	vertical-align: bottom;
}

.info {
	height: 30px;
	cursor: pointer;
	-webkit-touch-callout: none;
	-webkit-user-select: none; /* Webkit */
	-moz-user-select: none;    /* Firefox */
	-ms-user-select: none;     /* IE 10  */

	/* Currently not supported in Opera but will be soon */
	-o-user-select: none;
	user-select: none;
}

.code {
	-webkit-touch-callout: none;
	-webkit-user-select: none; /* Webkit */
	-moz-user-select: none;    /* Firefox */
	-ms-user-select: none;     /* IE 10  */

	/* Currently not supported in Opera but will be soon */
	-o-user-select: none;
	user-select: none;
}

.clicked {
	position: absolute;
	z-index: 1;
}

.hidden {
	display: none;
}

.circle-group {
	cursor: pointer;
}

#europe {
  color: #FF983E;
}

#asia {
  color: #A985CA;
}

#north-america {
  color: #56B256;
}

#latin-america {
  color: #DE5252;
}

#oceania {
  color: #4B92C2;
}
